* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling during animation */
    transition: background-color 0.5s;
}

.container {
    text-align: center;
    width: 80%;
}

h1 {
    font-size: 3rem;
    color: #ff79c6;
    margin-bottom: 20px;
}

.upload-section {
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #ff79c6;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.upload-btn:hover {
    transform: scale(1.1);
}

#showGalleryButton {
    background-color: #50fa7b;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#showGalleryButton:hover {
    transform: scale(1.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translateY(50px);
}

.photo-panel {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0; /* Start with hidden */
    transition: opacity 0.3s ease; /* Add fade-in effect */
}

.photo-panel img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.photo-panel:hover {
    transform: scale(1.05);
}

.photo-panel img:hover {
    filter: brightness(0.8);
}

.caption {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #ffb86c;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: #282a36;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #50fa7b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3be64e;
}
